@import 'variables.scss';

/*** IDs ***/
/* General */
#header {
    height: 50vw;
    margin-bottom: 0;
    border-bottom: 7px $primary solid;

    background-image: url(../images/lola_beach.jpg);
    background-repeat: no-repeat;
    background-position: center calc(38%);
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#mainNav {
    padding: 0;
    background-color: $primary;
    .navbar-left {
        padding: .5rem;
    }
    .nav-link:not(#nav-brand) {
        padding: .75rem;
        text-transform: uppercase;
    }
    .active {
        border-bottom: 3px solid;
    }
    .nav-link {
        color: $light-grey;
    }
    .nav-link#nav-brand {
        padding: 0;
    }
    .nav-link#nav-brand > img {
        height: 60px; /*temporary*/
    }
    + div {
        /*TODO clear below content*/
        /*padding-top: 50px;*/
    }
}
#footer {
    margin-bottom: 0;
    background-color: $primary;
}

/* Page specific IDs */
/* Gallery */
#instagramFeed {
    max-width: 1000px;
}
/* Location */
#googleMaps {
    height: 400px;
    padding: 0;
}

/*** Classes ***/
.footer-img {
    max-height: 170px;
}
.bg-grey {
    background-color: $light-grey;
}
.bg-white {
    background-color: $white;
}
.text-container {
    padding: 60px 50px;
}
.dot {
    height: .75rem;
    width: .75rem;
    background-color: $grey;
    border-radius: 50%;
    display: inline-block;
    margin-left: .25rem;
}

/* Colour classes */
.orange {
    border-color: $orange !important;
    .dot {
        background-color: $orange;
    }
}
.yellow {
    border-color: $yellow !important;
    .dot {
        background-color: $yellow;
    }
}
.green {
    border-color: $green !important;
    .dot {
        background-color: $green;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    #header {display: none}
}
/* TODO doesn't work */
@media (min-height: 550px) {
    #header {height: 550px}
}