@import 'variables.scss';

/*** Elements ***/
a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}

/*** IDs ***/
/* General */
#mainNavFlexWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    > .navbar-nav {
        display: flex;
        flex: 2;
        &.left {
            justify-content: flex-end;
        }
    }
    > .navbar-brand {
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
#mainNav {
    //Deal with strange margin/padding collapse
    padding: 0 15px;
    background-color: $primary;
    font-family: $font-stack-title;
    .container {
        padding: 0;
    }
    button {
        color: $white; 
        border: none !important;
        &:focus {
            outline-color: $light-grey;
        }
    }
    .navbar-brand.appear-md {
        display: none !important;
    }
    .nav-item:not(.dropdown) {
        padding-bottom: 3px;
    }
    .active:not(.dropdown), .nav-item:not(.dropdown):hover {
        border-bottom: 3px solid;
        padding-bottom: 0 !important;
    }
    .nav-link {
        &:not(.navbar-brand) {
            padding: .75rem;
            text-transform: uppercase;
            color: $light-grey;
        }
        &.dropdown-link {
            padding-bottom: calc(.75rem + 3px) !important;
        }
    }
    .active .nav-link.dropdown-link, .nav-link.dropdown-link:hover {
        border-bottom: 3px solid;
        padding-bottom: .75rem !important;
    }
    .navbar-brand {
        padding: 1rem .25rem;
        margin: 0;
        > img {
            height: 100px;
        }
    }
    .dropdown-menu {
        background-color: $primary;
        top: 100%;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        border-radius: 0%;
    }
    .dropdown-item {
        color: $light-grey;
        margin-top: .25rem;
        padding-bottom: 6px;
    }
   .dropdown-item:hover {
        background-color: $primary;
        padding-bottom: 3px;
        border-bottom: 3px solid;
    }
}
#footer {
    margin-bottom: 0;
    background-color: $secondary-dark;
    color: $light-grey;
    a {
        color: $light-grey;
    }
    //link hover, titles and font awesome spans
    a:hover, h5, span {
        color: $primary;
    }
    .footer-img {
        max-height: 170px;
    }
    .footer-text {
        padding: 0 15px;
        &.f-grow-2 {
            flex: 2 1 0%;
        }
        &.f-grow-1 {
            flex: 1 1 0%;
        }
    }
    #footerLinks {
        font-size: 1.15rem
    }
    #footerCopyright {
        font-size: .8rem;
        text-align: center;
    }
}

/* Page specific IDs */
/* Gallery */
#instagramFeed {
    max-width: 1000px;
}
/* Location */
#googleMaps {
    height: 60vh;
    padding: 0;
    iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
}
#serviceAreaMap {
    width: 100%;
    height: 100%;
    padding: 0;
    #mobileServiceArea {
        display: block;
    }
    #middleServiceArea {
        display: none;
    }
    #desktopServiceArea {
        display: none;
    }
}

/*** Classes ***/
.rotate-paws {
    .fa-paw {
        transform: translate(0, 0) scale(1, 1) rotate(18deg);
    }
}
.dot {
    height: .75rem;
    width: .75rem;
    background-color: $grey;
    border-radius: 50%;
    display: inline-block;
    margin-left: .25rem;
}
.circle-container {
    padding-top: 60px;
    padding-bottom: 60px;
    .row > div {
        padding: 1rem calc(1rem + 15px) 1rem calc(1rem + 15px);
    }
    .circle {
        width: 100%;
        .dot {
            display: block;
            height: 8rem;
            width: 8rem;
            margin: 1rem auto;
            overflow: hidden; //prevent vertical margin collapse
            background-color: $primary;
        }
        img {
            display: block;
            margin: 15% auto;
            width: 70%;
        }
    }
}
.circle-img {
    height: $circle-img-size;
    width: $circle-img-size;
    border-radius: 50%;
    margin: .25rem .25rem 0 .25rem;
    &.right {
        float: right;
    }
}
/* Container for non-square circle images, use `top` and `left` inline to position */
.circle-img-container {
    overflow: hidden;
    position: relative;
    &.portrait > img {
        position: absolute;
        width: $circle-img-size;
    }
    &.landscape > img {
        position: absolute;
        height: $circle-img-size;
    }
}
.icon-background {
    color: $black;
}
.services-info {
    border-top: 60px solid transparent;
    margin-top: -60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.quote-container {
    padding: 60px 14%;
    text-align: center;
    width: 100%;
    > span {
        display: block;
    }
    > p {
        padding: 0 1rem;
        margin: 1rem 0;
        font-style: italic;
    }
}
.text-container {
    padding: 60px 0px;
}
.bg-grey {
    background-color: $light-grey;
}
.bg-white {
    background-color: $white;
}
 
.divider {
    margin: 5px 0;
    overflow: hidden;
    text-align: center;
    &:before,
    &:after {
        background-color: $grey;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    &:before {
        right: 0.5em;
        margin-left: -50%;
    }
    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
    .fa-paw {
        color: $primary;
        font-size: 1.2rem;
    }
}

/* Colour classes */
.white {
    &.border-color {
        border-color: $white !important;
    }
    &.background {
        background-color: $white;
    }
    .dot {
        background-color: $white;
    }
}

/*** Media Queries ***/
/* Mobile */
@media only screen and (max-width: 991px) {
    //convert to mobile menu
    #mainNav {
        position: static !important;
        .navbar-brand > img {
            height: 70px;
        }
        // Remove flexbox and centered logo from mobile menu
        .navbar-brand.appear-md {
            display: block !important;
        }
        .navbar-brand.appear-lg {
            display: none !important;
        }
        #mainNavFlexWrapper {
            display: block !important;
            padding-bottom: 10px;
        } 
        #mainNavFlexWrapper > div {
            display: block !important;
        }
        // End remove
    }
}
@media only screen and (max-width: 460px) {
    .quote-container {
        padding: 60px 2%;
    }
}
@media only screen and (min-width: 576px) {
    .circle-container {
        .right-padded {
            padding-right: 18% !important;
        }
        .left-padded {
            padding-left: 18% !important;
        }
        .row > div {
            padding: 0 15px 0 15px;
        }
    }
}
/* Small desktop */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .divider {
        width: 70%;
        margin: 5px auto;
    }
    #serviceAreaMap {
        #mobileServiceArea {
            display: none;
        }
        #middleServiceArea {
            display: block;
        }
        #desktopServiceArea {
            display: none;
        }
    }
}
/* Large desktop */
@media only screen and (min-width: 1200px) {
    .divider {
        width: 55%;
        margin: 5px auto;
    }
    #serviceAreaMap {
        #mobileServiceArea {
            display: none;
        }
        #middleServiceArea {
            display: none;
        }
        #desktopServiceArea {
            display: block;
        }
    }
}
