/* Variables */
/* Mixins */
/* use like

.thing-to-style { @include primary }

can  also do --- MAYBE use this to choose seconadry, or priamry, though it may not work because of variable accessing syntax??

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

.box { @include transform(rotate(30deg)); }  

*/
/*** IDs ***/
/* General */
#header {
  height: 520px;
  margin-bottom: 0;
  border-bottom: 7px #4dbec6 solid;
  background-image: url(../images/lola_beach.jpg);
  background-repeat: no-repeat;
  background-position: center calc(38%);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

#mainNav {
  padding: 0 15px;
}
#mainNav .container {
  padding: 0;
}
#mainNav button {
  color: #ffffff;
  border: none !important;
}
#mainNav .active, #mainNav .nav-item:not(#nav-brand-item):hover {
  border-bottom: 3px solid;
  padding-bottom: 0 !important;
}
#mainNav .nav-item:not(#nav-brand-item) {
  padding-bottom: 3px;
}
#mainNav .nav-link:not(#nav-brand) {
  padding: 0.75rem;
  text-transform: uppercase;
}
#mainNav .nav-link {
  color: #f6f6f6;
}
#mainNav .navbar-brand {
  padding: 0;
  margin: 0;
}
#mainNav #nav-brand > img {
  height: 60px;
}

#footer {
  margin-bottom: 0;
  background-color: #4dbec6;
  color: #f6f6f6;
}
#footer a {
  color: #247ba0;
  font-weight: bold;
}

/* Page specific IDs */
/* Gallery */
#instagramFeed {
  max-width: 1000px;
}

/* Location */
#googleMaps {
  height: 400px;
  padding: 0;
}

/*** Classes ***/
.dot {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.25rem;
}

.circle-container {
  padding: 60px 0px;
}

.circle-text {
  width: 50%;
}

.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: #4679BD;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.circle-text div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: white;
}

.circle-img {
  height: 155px;
  width: 155px;
  border-radius: 50%;
  margin: 0.25rem 0.25rem 0 0.25rem;
}
.circle-img.right {
  float: right;
}

.circle-img-container {
  overflow: hidden;
  position: relative;
}
.circle-img-container.portrait > img {
  position: absolute;
  width: 155px;
}
.circle-img-container.landscape > img {
  position: absolute;
  height: 155px;
}

.icon-background {
  color: #000000;
}

.services-info {
  border-top: 60px solid transparent;
  margin-top: -60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.quote-container {
  padding: 60px 200px;
  text-align: center;
  width: 100%;
}

.text-container {
  padding: 60px 0px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.bg-white {
  background-color: #ffffff;
}

.footer-img {
  max-height: 170px;
}

/* Colour classes */
.orange.border-color {
  border-color: #ec9137 !important;
}
.orange.background {
  background-color: #ec9137;
}
.orange .dot {
  background-color: #ec9137;
}

.yellow.border-color {
  border-color: #eec45e !important;
}
.yellow.background {
  background-color: #eec45e;
}
.yellow .dot {
  background-color: #eec45e;
}

.green.border-color {
  border-color: #71da47 !important;
}
.green.background {
  background-color: #71da47;
}
.green .dot {
  background-color: #71da47;
}

.pink.border-color {
  border-color: #fcb0b3 !important;
}
.pink.background {
  background-color: #fcb0b3;
}
.pink .dot {
  background-color: #fcb0b3;
}

.brown.border-color {
  border-color: #794e45 !important;
}
.brown.background {
  background-color: #794e45;
}
.brown .dot {
  background-color: #794e45;
}

.purple.border-color {
  border-color: #a59ee7 !important;
}
.purple.background {
  background-color: #a59ee7;
}
.purple .dot {
  background-color: #a59ee7;
}

.dark-blue.border-color {
  border-color: #3776f3 !important;
}
.dark-blue.background {
  background-color: #3776f3;
}
.dark-blue .dot {
  background-color: #3776f3;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
  #header {
    display: none;
  }

  #mainNav {
    background-color: #4dbec6 !important;
    position: static !important;
  }
}

/*# sourceMappingURL=style.css.map */
