@import 'variables.scss';

/*** IDs ***/
/* General */
#header {
    height: 50vw;
    margin-bottom: 0;
    border-bottom: 7px $primary solid;

    background-image: url(../images/lola_beach.jpg);
    background-repeat: no-repeat;
    background-position: center calc(38%);
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#mainNav {
    //Deal with strange margin/padding collapse
    padding: 0 15px;
    .container {
        padding: 0;
    }
    button {
        color: $white; 
        border: none !important;
    }
    .active, .nav-item:not(#nav-brand-item):hover {
        border-bottom: 3px solid;
    }
    .nav-link:not(#nav-brand) {
        padding: .75rem;
        text-transform: uppercase;
    }
    .nav-link {
        color: $light-grey;
    }
    .navbar-brand {
        padding: 0;
        margin: 0;
    }
    #nav-brand > img {
        height: 60px;
    }
    + div {
        /*TODO clear below content*/
        /*padding-top: 50px;*/
    }
}
#footer {
    margin-bottom: 0;
    background-color: $primary;
    color: $light-grey;
    a {
        color: $primary-muted-e;
        font-weight: bold;
    }
}

/* Page specific IDs */
/* Gallery */
#instagramFeed {
    max-width: 1000px;
}
/* Location */
#googleMaps {
    height: 400px;
    padding: 0;
}

/*** Classes ***/
.footer-img {
    max-height: 170px;
}
.bg-grey {
    background-color: $light-grey;
}
.bg-white {
    background-color: $white;
}
.text-container {
    padding: 60px 50px;
}
.dot {
    height: .75rem;
    width: .75rem;
    background-color: $grey;
    border-radius: 50%;
    display: inline-block;
    margin-left: .25rem;
}

/* Colour classes */
.orange {
    border-color: $orange !important;
    .dot {
        background-color: $orange;
    }
}
.yellow {
    border-color: $yellow !important;
    .dot {
        background-color: $yellow;
    }
}
.green {
    border-color: $green !important;
    .dot {
        background-color: $green;
    }
}
.pink {
    border-color: $pink !important;
    .dot {
        background-color: $pink;
    }
}
.brown {
    border-color: $brown !important;
    .dot {
        background-color: $brown;
    }
}
.purple {
    border-color: $purple !important;
    .dot {
        background-color: $purple;
    }
}
.dark-blue {
    border-color: $dark-blue !important;
    .dot {
        background-color: $dark-blue;
    }
}

/* Media Queries */
// @media (min-width: 768px) {
//     .container {
//         max-width: 991px !important;
//     }
// }
@media only screen and (max-width: 991px) {
    #header {
        display: none;
    }
    #mainNav {
        background-color: $primary !important;
        position: static !important; //TODO desired behaviour?
        .nav-link {
            //border-bottom: 3px transparent solid; //TODO
        }
    }
}
/* TODO doesn't work */
@media (min-height: 550px) {
    #header {height: 550px}
}