@font-face {
    font-family: "Amarillo";
    src: url(../fonts/Amarillo.otf) format("opentype"),
        url(../fonts/Amarillo.ttf) format("truetype");
}
@font-face {
    font-family: "CenturyGothic";
    src: url(../fonts/CenturyGothic.ttf) format("truetype");
}


// Colour Variables
$orange: #ec9137;
$green: #71da47;
$yellow: #eec45e;
$pink: #fcb0b3;
$brown: #794e45;
$purple: #a59ee7;
$dark-blue: #3776f3;

$primary: #4dbec6;

$secondary: #4d6a79;
$secondary-dark: #3d5561;

$white: #ffffff;
$black: #000000;
$grey: #bbbbbb;
$light-grey: #f6f6f6;
$dark-grey: #4a4a4a;

// Font Variables
$font-stack-script: 'Amarillo', 'Comic Sans MS', cursive, sans-serif;
$font-stack-title: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
$font-stack-body: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
// $font-stack-quote: ;

// $font-color-primary: $primary-muted;
// $font-color-secondary: ;

// Image Variables
$circle-img-size: 155px;