/* Variables */

// Colour Variables
$orange: #ec9137;
$green: #71da47;
$yellow: #eec45e;
//$yellow: #E4C88F;

$primary: #4dbec6;
$primary-muted: #50b8aa;
// $primary-muted: #4D81C6;
// $primary-muted: #365463;
// $primary-muted: #5193A0;

$secondary: lightblue;
$secondary-muted: orange dark;

//may combine with secondary
// $accent: green;
// $link: green/yellow;

// $background: rgb(231, 231, 227);
// $muted-background: ;

$white: #ffffff;
$black: #000000;
$grey: #bbbbbb;
$light-grey: #f6f6f6;
// $dark-grey

// Font Variables
// $font-stack-title: ;
// $font-stack-main: ;
// $font-stack-quote: ;

// $font-primary: $primary-muted;
// $font-secondary: ;

/* Mixins */
// @mixin primary {
//     background-color: $primary;
//     color: 
//     font: $primary;
//     font-family: 
// }

/* use like

.thing-to-style { @include primary }

can  also do --- MAYBE use this to choose seconadry, or priamry, though it may not work because of variable accessing syntax??

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

.box { @include transform(rotate(30deg)); }  

*/